.comentario {
  width: 100%;
  display: flex;
  justify-content: center;
}

#aval-mobile {
  display: none;
}

.comentario-container {
  width: 1180px;
  height: 626px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 46px 215px 28px 65px;
}

.comentario-card {
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.comentario-card .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.abas span {
  color: #063643;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.abas .button-invible {
  width: 42px;
}

.abas button {
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  background: transparent;
  border: 1px solid #063643;

  display: inline-flex;
  cursor: pointer;
}

.abas button:hover {
  background: #6bb7cb;
  transition: 0.5s;
}

.comentario h2 {
  color: #063643;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
}

.comentario h3 {
  color: #063643;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comentario p {
  color: #063643;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 50px;
}

.comentario .buttons {
  display: flex;
  gap: 14px;
  justify-content: end;
}

.barra {
  width: 900px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);

  margin: 5px 0 12px 0;
}

@media (max-width: 400px) {
  br {
    display: none;
  }

  #aval-desk {
    display: none;
  }

  .barra {
    display: none;
  }

  .comentario-container {
    width: 100%;
    height: auto;
    padding: 0;
    word-wrap: break-word;
    padding-top: 5%;
  }

  .comentario-container #aval-mobile {
    display: flex;
    font-family: "Poppins";
    font-size: 1.25rem;
    align-self: center;
  }

  .comentario-card img {
    width: 3.33975rem;
    height: 3.30994rem;
  }

  .info img {
    width: 0.82231rem;
    height: 0.8275rem;
  }

  .comentario-card h3 {
    font-family: "Inter";
    font-size: 0.8275rem;
    letter-spacing: 0.00825rem;
  }

  .comentario-card p {
    font-family: "Inter";
    font-size: 0.74475rem;
    letter-spacing: 0.00744rem;
  }

  .comentario .buttons {
    justify-content: center;
    padding-top: 5%;
  }
}
