.profissionais {
  width: 1180px;
  height: 460px;

  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background: #f8f8ff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 48px auto 0px auto;
}

.profissionais h2 {
  color: #063643;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  position: absolute;
  padding: 44px 846px 380px 80px;
}

.profissionais h3 {
  color: #063643;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profissionais p {
  color: #063643;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 5px;
}

.doutor1,
.doutor2,
.doutor3,
.doutor4:not(:last-child) {
  margin-right: 35px;
}

.doutor1,
.doutor2,
.doutor3,
.doutor4 {
  margin-top: 75px;
}

@media (max-width: 400px) {
  .profissionais {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-top: 5%;
    border-radius: 0px;
    box-shadow: none;
    gap: 0.8rem;
    margin-top: -60%;
    padding-bottom: 5%;
    z-index: 2;
  }

  .profissionais h2 {
    padding: 0% 0% 142% 0%;
  }

  .profissionais .doutor1,
  .profissionais .doutor2,
  .profissionais .doutor3,
  .profissionais .doutor4 {
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 3%;
  }

  .profissionais h3 {
    color: #063643;
    text-align: center;
    font-family: "Inter";
    font-size: 0.94606rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profissionais p {
    color: #063643;
    text-align: center;
    font-family: "Inter";
    font-size: 0.67563rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .profissionais img {
    width: 10.375rem;
    height: 10.375rem;
  }
}
