.informativo {
  margin: 50px auto 0px auto;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#texto-mobile-quem-somos,
#destaque-mobile-quem-somos {
  display: none;
}

#gato-pata {
  display: none;
}

.quem_somos1 p,
.servicos1 p,
.servicos2 p {
  color: #063643;
  font-family: "Open sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.quem_somos1 h2,
.servicos1 h2 {
  color: #063643;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.quem_somos1 h2 {
  font-family: "Poppins";
}

.servicos1 h2 {
  font-family: "Inter";
}

.quem_somos1 {
  position: relative;
  display: flex;
  width: 1920px;
  height: 325px;

  align-items: center;
  justify-content: center;

  background-image: url(/imgs/banner_descricao/fundo-animais-icons2.png);
  background-color: rgba(99, 179, 201, 0.7);
}

.quem_somos1 p {
  position: absolute;
  padding: 130px 438px 113px 930px;
  white-space: nowrap;
}

.quem_somos1 h2 {
  position: absolute;
  padding: 35px 438px 239.75px 430px;
}

.quem_somos_imagens {
  position: relative;
  left: -200px;
  top: -100px;
}

#icon {
  position: absolute;
  left: -200px;
  top: 20px;
}

#nome {
  position: absolute;
  left: -230px;
  top: 150px;
}

/* Nossos serviços */

.servicos1 {
  display: flex;
  position: relative;
  width: 1920px;
  height: 417px;
  align-items: center;
  justify-content: center;
  background-image: url(/imgs/banner_descricao/fundo-animais-icons2.png);
  background-color: rgba(81, 162, 184, 1);
}

.servicos1 h2 {
  position: absolute;
  padding: 52px 1271px 350px 450px;
}

.servicos1 p {
  position: absolute;
  padding: 160px 438px 113px 862px;
}

.servicos1 img {
  position: absolute;
  top: 120px;
  left: 450px;
}

.servicos2 {
  position: relative;
  display: flex;
  width: 1920px;
  height: 325px;

  align-items: center;
  justify-content: center;
  background-image: url(/imgs/banner_descricao/fundo-animais-icons2.png);
  background-color: rgba(99, 179, 201, 0.7);
}

.servicos2 p {
  position: absolute;
  padding: 83px 834px 122px 466px;
}

.servicos2 img {
  position: absolute;
  right: 450px;
}

/* Informativo e Serviços Mobile */

@media (max-width: 400px) {
  .informativo {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }

  .quem_somos1 {
    width: 100%;
    white-space: nowrap;
  }

  .quem_somos1 h2 {
    color: #063643;
    text-align: center;
    font-family: "Poppins";
    font-size: 28.068px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .quem_somos1 #texto-desk-quem-somos {
    display: none;
  }

  #texto-mobile-quem-somos,
  #destaque-mobile-quem-somos {
    display: flex;
  }

  #texto-mobile-quem-somos {
    color: #063643;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.28px;
  }

  #destaque-mobile-quem-somos {
    color: #063643;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.32px;
  }

  .servicos1 #gato-pata {
    display: block;
    position: absolute;
    left: 700px;
  }

  .servicos2 {
    display: none;
  }
}
