* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #e2f5fa;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Cabeçalho */
.cabecalho {
  display: flex;

  padding: 35px 170px 35.176px 190px;
  justify-content: center;
  align-items: center;
  gap: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  overflow: hidden;
}

.cabecalho #conteudo-mobile {
  display: none;
}

#logo_cabecalho {
  width: 250px;
  height: 69.824px;
}

#navegar {
  width: 519px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

#navegar a {
  font-family: "Poppins", sans-serif;
  color: #063643;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 4px;
  white-space: nowrap;
}

#navegar a:hover {
  background-color: rgba(107, 183, 203, 0.4);
  border-radius: 10px;
  transition: 1s;
}

/* Banner 1 */

.banner1 {
  width: 1180px;
  height: 450px;
  flex-shrink: 0;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.banner1 .conteudo #texto-mobile-banner1,
.banner1 .figura .fundo-mobile {
  display: none;
}

.conteudo {
  position: absolute;
  align-self: start;
  display: grid;
  padding: 48px 680px 318px 80px;
}

.entre_contato {
  position: absolute;
  align-self: start;
  padding: 202px 817px 176px 80px;
}

.conteudo #texto-desk-banner1 {
  width: 500px;

  color: #063643;
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

.entre_contato a {
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 283px;
  height: 72px;
  padding: 10px 5px;
  border: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  background-color: #0f637a;
  color: white;
  border-radius: 8px;
}

.figura {
  position: absolute;
  padding: 0px 0.16px 167.16px 897px;
}

.banner1_imagem {
  position: relative;
  bottom: -180px;
  right: -100px;
}

#animais {
  position: absolute;
  bottom: 0px;
  left: -310px;
}

#gato {
  position: absolute;
  bottom: 0px;
  right: -400px;
}

#grupo_animais {
  position: absolute;
  bottom: 0px;
  right: -270px;
}

.entre_contato a:hover {
  background-color: #7ccbe0;
  color: #0f637a;
  transition: 0.5s;
}

/* Primeiro Carrossel */

.carrossel_1 {
  width: 1180px;
  height: 330px;
  margin: 10px auto 30px auto;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar,
#avancar {
  width: 42.909px;
  height: 40px;

  background-color: #e2f5fa;
  border: none;
  cursor: pointer;
}

.imagem_carrossel {
  width: 1094.182px;
  height: 300px;

  position: relative;
  display: flex;
}

.imagem_carrossel h2,
.imagem_carrossel a {
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imagem_carrossel p {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}

.parte_1 .parte_2 .parte_3 {
  width: 33.3%;
  position: relative;
}

/* Banner 1 do carrossel */
.parte_1 {
  width: 1094.182px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #63b3c9;
}

.parte_1,
.parte_3 h2 {
  color: #063643;
}

.parte_1 h2 {
  position: absolute;
  padding: 24px 214.18px 234px 502px;
  white-space: nowrap;
}

.parte_1 p {
  position: absolute;
  padding: 78px 273.18px 192px 510px;
  white-space: nowrap;
}

.parte_1 a {
  color: #063643;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: none;
  outline: none;

  width: 283px;
  height: 72px;
  padding: 10px 5px;

  justify-content: center;
  align-content: center;
}

.parte_1_imagem {
  position: relative;
  bottom: -50px;
  right: -50px;
}

#pata1 {
  position: absolute;
  left: -21px;
  top: -30px;
}

#ciringa {
  position: absolute;
  left: 50px;
  bottom: -200px;
}

.parte_1_imagem a {
  position: absolute;
  left: 460px;
  bottom: -170px;
}

#gato_pata {
  position: absolute;
  left: 830px;
  bottom: -245px;
}

#pata2 {
  position: absolute;
  bottom: -230px;
  left: 200px;
}

#posicao_1 {
  position: absolute;
  bottom: -280px;
  right: 545px;
}

/* Banner 2 do Carrossel */

.parte_2 {
  width: 1094.182px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #063643;
  background-image: url(/imgs/carrossel/fundo2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.parte_2 h2 {
  color: white;
  position: absolute;
  padding: 24px 698px 234px 64px;
  white-space: nowrap;
}

.parte_2 p {
  color: white;
  font-size: 18px;
  letter-spacing: 0.36px;
  white-space: nowrap;

  position: absolute;
  padding: 89px 511px 130px 64px;
}

.parte_2 a {
  color: #063643;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: none;
  outline: none;

  width: 283px;
  height: 72px;
  padding: 10px 5px;

  justify-content: center;
  align-content: center;
}

.parte_2_imagem {
  position: relative;
  bottom: -50px;
  right: -200px;
}

.parte_2_imagem a {
  position: absolute;
  bottom: -230px;
  left: -115px;
}

#cachorro_dourado {
  position: absolute;
  bottom: -250px;
  right: 450px;
}

#gato_lado {
  position: absolute;
  top: -50px;
  right: 200px;
}

/* Banner 2 do Carrossel */

.parte_3 {
  width: 1094.182px;
  height: 300px;

  margin-bottom: 50px;

  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  background-image: url(/imgs/carrossel/fundo3.png);
  background-repeat: no-repeat;
  background-position: right;
}

.parte_3 h2 {
  position: absolute;
  padding: 24px 383.18px 234px 64px;
  white-space: nowrap;
  z-index: 1;
}

.parte_3 p {
  position: absolute;
  padding: 78px 434.18px 162px 64px;
  white-space: nowrap;
  z-index: 1;
}

.parte_3 a {
  color: #063643;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: none;
  outline: none;

  width: 283px;
  height: 72px;
  padding: 10px 5px;
  z-index: 1;

  justify-content: center;
  align-content: center;
}

.parte_3_imagem {
  position: relative;
  bottom: -100px;
  right: -200px;
}

.parte_3_imagem a {
  position: absolute;
  bottom: -175px;
  left: -110px;
}

#guarda_chuva {
  position: absolute;
  left: -200px;
  top: -100px;
}

#gato_banho {
  position: absolute;
  top: -100px;
  right: 220px;
}

/* Mundança de cor dos botões */
.partes a:hover {
  background: #063643;
  color: white;
  transition: 0.2s;
}

.parte_3 a:hover {
  background: #063643;
  color: white;
  transition: 0.2s;
}

.partes input {
  display: none;
}

.manual_navigation {
  position: absolute;
  width: 800px;
  margin-top: 350px;
  display: flex;
  justify-content: center;
}

.manual_btn {
  background: rgba(163, 163, 163, 1);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.manual_btn:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .parte_1 {
  margin-top: 0;
}

#radio2:checked ~ .parte_1 {
  margin-top: -29.3%;
}

#radio3:checked ~ .parte_1 {
  margin-top: -60.2%;
}

/* ESTILIZAÇÃO PARA MOBILE */

@media (max-width: 400px) {
  .cabecalho {
    width: 100%;

    display: flex;
    padding: 5% 0% 0% 3%;
    gap: 5.82rem;
    margin-top: 10%;
  }

  .cabecalho a {
    display: none;
  }

  .cabecalho #conteudo-mobile {
    display: flex;
    gap: 5.8125rem;
  }

  /* Primeiro banner no Mobile */

  .banner1 {
    display: inline-flex;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }

  .banner1 .conteudo #texto-desk-banner1,
  .banner1 .figura #onda {
    display: none;
  }

  .banner1 .conteudo {
    display: flex;
    position: static;
    padding: 5% 0% 0% 5%;
  }

  .banner1 .conteudo #texto-mobile-banner1 {
    display: flex;
    color: #063643;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .banner1 .figura .fundo-mobile {
    position: absolute;
    left: 39%;
    bottom: -20%;
    z-index: -1;
    width: 12.8735rem;
    height: 23.36738rem;
    transform: rotate(-115.496deg);
    display: flex;
  }

  .banner1 .banner1_imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 0% 0% 3% 10%;
  }

  .banner1 .banner1_imagem #animais {
    width: 5.76925rem;
    height: 4.61538rem;
    position: static;
    margin-right: -2%;
  }

  .banner1 .banner1_imagem #grupo_animais {
    width: 11.53844rem;
    height: 7.37144rem;
    position: static;
    margin-top: -12%;
  }

  .banner1 .banner1_imagem #gato {
    width: 6.34613rem;
    height: 4.95844rem;
    position: static;

    margin-left: -10%;
  }

  .banner1 .entre_contato {
    position: static;
    padding: 0%;
    align-self: center;
    padding: 0% 0% 10% 0%;
  }

  .banner1 .entre_contato a {
    display: flex;
    width: 10.5625rem;
    height: 2.5rem;
    padding: 0.34725rem 0.17363rem;
    justify-content: center;
    align-items: center;
    gap: 0.34725rem;
    flex-shrink: 0;
    color: #f8f8ff;
    font-family: "Poppins";
    font-size: 0.97225rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .banner1 .entre_contato a:hover,
  .banner1 .entre_contato a:active {
    background-color: #7ccbe0;
    color: #0f637a;
    transition: 0.1s;
  }

  .carrossel_1 {
    display: none;
  }
}
