* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #e2f5fa;
}

a {
  text-decoration: none;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  padding: 35px 170px 35.176px 190px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  overflow: hidden;
}

#logo_cabecalho {
  width: 250px;
  height: 69.824px;
}

#navegar {
  width: 519px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

#navegar a {
  font-family: "Poppins", sans-serif;
  color: #063643;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 4px;
}

#navegar a:hover {
  background-color: rgba(107, 183, 203, 0.4);
  border-radius: 10px;
  transition: 1s;
}

/* Banner 1 */

.banner1 {
  width: 1180px;
  height: 450px;
  flex-shrink: 0;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px 370px 30px 180px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #f8f8ff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.conteudo {
  position: absolute;
  align-self: start;
  display: grid;
  padding: 48px 680px 318px 80px;
}

.entre_contato {
  position: absolute;
  align-self: start;
  padding: 202px 817px 176px 80px;
}

.conteudo h2 {
  width: 500px;

  color: #063643;
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

.entre_contato a {
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 283px;
  height: 72px;
  padding: 10px 5px;
  border: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  background-color: #0f637a;
  color: white;
  border-radius: 8px;
}

.figura {
  position: absolute;
  padding: 0px 0.16px 167.16px 897px;
}

.banner1_imagem {
  position: relative;
  bottom: -180px;
  right: -100px;
}

#animais {
  position: absolute;
  bottom: 0px;
  left: -310px;
}

#gato {
  position: absolute;
  bottom: 0px;
  right: -400px;
}

#grupo_animais {
  position: absolute;
  bottom: 0px;
  right: -270px;
}

.entre_contato a:hover {
  background-color: #7ccbe0;
  color: #0f637a;
  transition: 0.5s;
}

/* Primeiro Carrossel */

.carrossel_1 {
  width: 1180px;
  height: 332px;
  margin: 30px 370px 30px 180px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar,
#avancar {
  width: 42.909px;
  height: 40px;

  background-color: #e2f5fa;
  border: none;
}

.imagem_carrossel {
  width: 1094.182px;
  height: 300px;

  position: relative;
  display: flex;
}

.imagem_carrossel h2,
.imagem_carrossel a {
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imagem_carrossel p {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}

.parte_1 {
  width: 1094.182px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #63b3c9;
}

.parte_1,
.parte_3 h2 {
  color: #063643;
}

.parte_1 h2 {
  position: absolute;
  padding: 24px 214.18px 234px 502px;
}

.parte_1 p {
  position: absolute;
  padding: 78px 273.18px 192px 510px;
}

.parte_1 a {
  color: #063643;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: none;
  outline: none;

  width: 283px;
  height: 72px;
  padding: 10px 5px;

  justify-content: center;
  align-content: center;
}

.parte_1_imagem {
  position: relative;
  bottom: -50px;
  right: -50px;
}

#pata1 {
  position: absolute;
  left: -21px;
  top: -30px;
}

#ciringa {
  position: absolute;
  left: 50px;
  bottom: -200px;
}

.parte_1_imagem a {
  position: absolute;
  left: 460px;
  bottom: -170px;
}

#gato_pata {
  position: absolute;
  left: 830px;
  bottom: -245px;
}

#pata2 {
  position: absolute;
  bottom: -230px;
  left: 200px;
}

#posicao_1 {
  position: absolute;
  bottom: -280px;
  right: 545px;
}
